.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1em;
    padding: 1em;
    width: 30%;
    height: auto;
    background-color: #fff;
    border: 3px solid red;
    margin-bottom: 20px;
}
.non-active {
    display: none;
}
