.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1em;
    padding: 1em;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    background-color: #EFF6E9;
}
.non-active {
    display: none;
}
.content-box img {
    max-width: 800px;
    height: auto;
}

.top-picks-content .content-box {
    width: 40%;
}