@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import "footer.css";
@import "header.css";
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
.faq {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
#question-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}
#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/faq/sonic.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 12%;
}
.faq-title p {
    align-self: flex-start;
    font-weight: bold;
    color: #F60;
    margin-left: 40px;
}
.question-title {
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
    color: #183059;
}
.question:nth-child(odd) {
    background-color: #EFF6E9;
}
.question:nth-child(even) {
    background-color: #F6F6F6;
}
.question {
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 20px
}
.question-answer {
    display: none;
}
@media only screen and (max-width: 600px) {
    .question-answer {
        display:block;
    }
  }

/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#scrollbutton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 60px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #819595; /* Set a background color */
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #scrollbutton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

