header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1em;
    
}
header li {
    display: inline-block;
    margin: 0 1em;
}
header a {
    color: #fff;
    text-decoration: none;
}

