@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
header {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#ffffff, rgba(10,229,190,0.3));
    color: #60af05;
    padding: 1em;
    transition: border 0.5s ease-in-out;
    
}
header li {
    display: inline-block;
    margin: 0 1em;
}
header a {
    color: #fff;
    text-decoration: none;
}
/* fitting the logo to the left of the header file */
header .logo img {
    max-width: 100%;
    height: 125px;
}
.logo {
    display: flex;
    max-width: 38%;
}
.logo-text {
    max-width: 60%;
    margin-left: 3em;
}
/* dropdown menu */
ul {
  padding: 0px;
    display: flex;
    overflow: hidden;
    background-color: #fff9c7;
    border-radius: 5px;
    box-shadow: #000000 0px 0px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  header li {
    float: left;
  }
  
  header li a, .dropbtn {
    display: inline-block;
    color: #eb6b68;
    text-align: center;
    padding: 4px 2px;
    text-decoration: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  
 header li a:hover, .dropdown:hover .dropbtn {
    border-left: 1px solid #60af05;
    border-right: 1px solid #60af05;
  }
  
 header li.dropdown {
    display: inline-block;
  }
  
 header .dropdown-posts {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
  }
  
  header .dropdown-posts a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    transition: border-left 0.3s ease-in-out, border-right 0.3s ease-in-out;
  }
 header .dropdown-content a:hover {background-color: #000;}
  
 header .dropdown:hover .dropdown-posts {
    display: block;
  }
header .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40%;
}
.search {
  display: flex;
  border: 6px solid #a08996;
  background-color: #fffacd;
  border-radius: 5px;
  width: 20%;
}
.search input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  background-color: #fffacd;
  width: 100%;
}
.search img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fffacd;
}