/* ///////Header Stylesheet///////////// */
/* ///////////////////////////////////// */
/* //////Imported into every page.////// */
/* ///////////////////////////////////// */


/* Import the font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

header {
    font-family: "Open Sans", sans-serif; /* Set the font to Open Sans with fallback fonts */
    font-weight: 600; /* Set the font weight to 600 */
    line-height: 1; /* Set the line height to 1 */
    display: flex; /* Flexbox */
    flex-direction: row; /* Horizontal order */
    align-items: center; /* Center the content */ 
    justify-content: space-between; /* Space the content evenly */
    background-color: #819595; /* Set the background color */
    color: #183059; /* Set the text color */
    padding: 1em; /* Set the padding */
    transition: background-color 0.5s ease-in-out; /* Set the transition for the border */
    
}
header li {
    display: inline-block; 
    margin: 0 1em;
}
header a {
    color: #fff;
    text-decoration: none;
}
/* fitting the logo to the left of the header file */
header .logo img {
    max-width: 100%;
    height: 125px;
}
header .logo {
    display: flex;
    max-width: 38%;
    color: #183059;
}
header .logo-text {
    max-width: 60%;
    margin-left: 3em;
}
/*///////////////////////////////////////// */
/* dropdown menu */
/* [4]W3Schools.com, How TO - Hoverable Dropdown.Date Unknown. [Online]. Available:https://www.w3schools.com/howto/howto_css_dropdown.asp[Accessed:07.03.2023]              */
/* Changed the layout, shadowing, border, main styling such as text colors and fonts */
 
header ul {
    padding: 0px; /* Remove the default padding */
    display: flex; /* Flexbox */
    overflow: hidden; /* Hide the overflow */
    background-color: #fff9c7; /* Set the background color */
    border-radius: 5px; /* Set the border radius */
    box-shadow: #000000 0px 0px 10px;   /* Set the box shadow */
    flex-wrap: wrap; /* Wrap the content */
    justify-content: space-around; /* Space the content evenly */
    align-items: center; /* Center the content */
    align-content: center; /* Center the content */
  }

  header li {
    float: left; /* Float the content to the left */
  }
  
  header li a, .dropbtn {
    display: inline-block; /* Display the content as an inline block */
    color: #eb6b68; /* Set the text color */
    text-align: center; /* Center the text */
    padding: 4px 2px; /* Set the padding */
    text-decoration: none; /* Remove the text decoration */
    border-left: 1px solid transparent; /* Set the border left */
    border-right: 1px solid transparent; /* Set the border right */
  } 
  
 header li.dropdown {
    display: inline-block;  /* Display the content as an inline block */
  }
  
 header .dropdown-posts {
    display: none; /* Hide the content */
    position: absolute;   /* Set the position */
    background-color: #f9f9f9; /* Set the background color */
    min-width: 160px; /* Set the minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1); /* Set the box shadow */
    z-index: 1; /* Set the z-index */
  }
  
  header .dropdown-posts a {
    color: black; /* Set the text color */
    padding: 12px 16px; /* Set the padding */
    text-decoration: none; /* Remove the text decoration */
    display: block; /* Display the content as a block */
    text-align: left; /* Align the text to the left */
    border: none;   /* Remove the border */
  }
 header .dropdown-content a:hover {background-color: #000;} /* Set the background color on hover */
  
 header .dropdown:hover .dropdown-posts { /* Set the hover effect */
    display: block; /* Display the content as a block */
  }
/* /////////////////////////////////////// */


header .navigation {
    display: flex; /* Flexbox */
    flex-direction: column; /* Vertical order */
    justify-content: space-between; /* Space the content evenly */
    max-width: 40%; /* Set the maximum width */
}
header .navigation {
    display: flex; /* Flexbox */
    flex-direction: column; /* Vertical order */
    justify-content: space-between; /* Space the content evenly */
    max-width: 40%; /* Set the maximum width */
}
/* search form */
.search {
  display: flex; /* Flexbox */
  flex-direction: row; /* Horizontal order */
  border: 6px solid #a08996; /* Set the border */
  background-color: #fffacd; /* Set the background color */
  border-radius: 5px; /* Set the border radius */
  width: 20%; /* Set the width */
}
.search input[type=text] {
  padding: 6px; /* Set the padding */
  font-size: 17px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 5px; /* Set the border radius */
  background-color: #fffacd; /* Set the background color */
  width: 100%; /* Set the width */
}
.search img {
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
  border-radius: 5px; /* Set the border radius */
  background-color: #fffacd; /* Set the background color */
  cursor: pointer; /* Set the cursor */
}
header a {
  color: #333; /* Set the text color */
  text-decoration: none; /* Remove the text decoration */
  transition: color 0.3s ease; /* Set the transition */
}
header a:hover {
  color: #183059; /* Set the text color on hover */
}

header a:hover ~ a { /* use the sibling operator to select all the following siblings */
  color: #333;  /* Set the text color on hover */
  background-color: #333; /* Set the background color on hover */
}
/* /////////////////////////////////////// */
/* dark mode toggle */
#dark-toggle { 
  width: 3%; /* Set the width */
  position: absolute; /* Set the position */ 
  top: 17%;  /* Set the top position */
  right: 4%;  /* Set the right position */
  border: none; /* Remove borders */
  padding: 1px; /* Set the padding */
}
#dark-toggle img {
  width: 100%; /* Set the width */
  height: 100%; /* Set the height */
}
#dark-toggle:hover {
  cursor: pointer;  /* Set the cursor */
  background-color: #fffacd; /* Set the background color on hover */
}
/* /////////////////////////////////////// */
/* media queries */

@media only screen and (max-width: 1510px) { /* Set the media query for mid-sized screens */
  .navigation ul li  {
      width: 30%;  /* Set the width */
      justify-content: center;   /* Bring the content to the center*/
      align-items: flex-end; /* Align the content to the bottom */
  }
  .search {
    margin-top: 200px; /* Set the margin-top */
  }
}
@media only screen and (max-width: 1100px) { /* Set the media query for small screens */
  header .logo {
    display: none; /* Hide the logo */
  }
  .search {
    margin: 0px; /* Set the margin */

  }
  header {
    justify-content: flex-end; /* Bring the content to the right */
  }
}
