@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import "footer.css";
@import "header.css";
@import "content-box.css";
@import "slideshow.css";
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

.top-picks-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.top-picks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/main-page/ezio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20% ;
    background-position: 50% 78px;
}
.bottom-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
    background-image: url(/images/main-page/ori.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    background-image: url(/images/main-page/lulu.png);
    background-position: left;
    background-size: 32%;
    background-repeat: no-repeat;
}
.featured-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: auto;
}
.latest-submissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(/images/main-page/kratos-thinking.png);
    background-position: left;
    background-size: 20%;
    background-repeat: no-repeat;
}

.search-result {
    background-color: #ffffff;
}
.top-picks-title {
    width: 80%;
    text-align: center;
    background-color: transparent;
}
.title {
    color: #F60;
}
.section-title {
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
    margin-bottom: 1px;
}
