@import "footer.css";
@import "header.css";
@import "content-box.css";
img {
    max-width: 10em;
    height: auto;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.top-picks-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 3px solid red;
    margin-bottom: 20px;
}
.top-picks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 3px solid red;
    margin-bottom: 20px;
    justify-content: center;
}
.most-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
}
.featured-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
}
