@import "footer.css";
img {
    max-width: 10em;
    height: auto;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
}
header li {
    display: inline-block;
    margin: 0 1em;
}
header a {
    color: #fff;
    text-decoration: none;
}

