@import url("header.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    width: 50%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.page-image {
    max-width: 750px;
    height: auto;
    margin-right: 20px;
}
h2 {
    text-align: center;
}
.post-title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-image {
    max-width: 900px;
    height: auto;
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}
tr:nth-child(even)
{
    background-color: #52c17e;
    color: #000000;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.post-info {
    font-size: small;
    width: 15%;
    height: auto;
    align-self: flex-start;
    justify-self: flex-start;
}
.title {
    color: #F60;
}
.scoring {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.scoring:nth-child(even) {
    background-color: #EFF6E9;
}
.scoring:nth-child(odd) {
    background-color: #FFF9C7;
}
.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
}