@import url("header.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    border: red;
}


img {
    max-width: 10em;
    height: auto;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
section:nth-child(odd) {
    background-color: #52c17e;
  } 
section:nth-child(even) {
    background-color: #ffffff;
    color: #000000;
}
